# gedit backups
*~

# object files
*.o

# moc, resources and ui files
moc_*.cpp
qrc_*.cpp
ui_*.h

# debug and release directories
Debug/
Release/
*_Release/
*_Debug/

# qt creator user project
*.pro.user

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

.metadata/

# local settings
org.eclipse.cdt.managedbuilder.core.prefs

# Ignore Eagle Backup Files #
#############################
*.s#?
*.b#?
*.l#?

# Ignore Tex Files #
####################
*.aux
*.log
*.pdf
*.synctex.gz
*.toc
